header{
    background: rgba(227, 182, 182, 1);
    color: rgba(134, 12, 107, 1);
    font-family: 'Satisfy', cursive;
    li{
        list-style: none;
    }
}
.titulo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo{
    img{
        width: 100px;
        border-radius: 50%;
    }
}
.tituloP{
    align-self: flex-end;
    font-size: xx-large;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    font-size: x-large;
    a{
        color:black;
        text-decoration: none;
    }
}