.backgroundGatos{
    background-image: url("https://fotografias.lasexta.com/clipping/cmsimages02/2022/05/17/B2803297-FF70-4425-A1C0-059900EDFAB8/gatos_104.jpg?crop=4000,4000,x710,y0&width=1200&height=1200&optimize=low&format=webply");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
}