@media(max-width:320px){
    .item-2{
        padding-right: 25px;
    }
    .item-3{
        padding-right: 20px;
    }
    .item-4{
        flex-direction: column;
        justify-content: flex-end;
        gap:10px;
        img{
            width: 35px;
            height: 35px;
        }
    }
    .carousel-inner{
        width: 295px;
        height: 320px;
        display: flex;
        justify-content: flex-start;
        font-size: xx-small;
    }
}