@media(max-width: 768px) {
    header{
        width: 100%;
    }
    .tituloP{
        font-size: x-large;
    }
    nav .menu{
        justify-content: flex-start;
        font-size: larger;
        gap: 18px;
    }
    .cuerpoIndex{
        flex-direction: column;
        font-size: x-large;
        background:url("../assets/images/Fondo/photo-1623387641168-d9803ddd3f35.jfif") no-repeat center center fixed;
        background-size: cover;
    }
    .galery{
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    background-color:transparent;
    }
    .carousel-inner{
        padding: 20px;
}
}