@media(max-width: 768px) {
    header{
        width: 100%;
    }
    .tituloP{
        font-size: x-large;
    }
    nav .menu{
        justify-content: flex-start;
        font-size: larger;
        gap: 18px;
    }
    .cuerpoIndex{
        flex-direction: column;
        font-size: x-large;
        background:url("../assets/images/Fondo/photo-1623387641168-d9803ddd3f35.jfif") no-repeat center center fixed;
        background-size: cover;
    }
    .galery{
    padding: 30px;
    @include flex(row wrap,space-around,center);
    gap: 20px;
    background-color:transparent;
    }
    .backgroundPerros{
        background-image: url("https://media.istockphoto.com/id/481198620/es/foto/terrier-jugando-con-una-pelota-de-coloridos.jpg?b=1&s=170667a&w=0&k=20&c=VDpLMMtIR_X_9WpOfJ6x9vLJ01XCNBs-EzoNLS_hEPg=") no-repeat center center fixed;
    }
    .camas{
        grid-template-columns: repeat(2,1fr);
    }
    .juguetes{
        grid-template-columns: repeat(2,1fr);
    }
    .accesorios{
        grid-template-columns: repeat(2,1fr);
    }
    .backgroundGatos{
        background-image: url("https://fotografias.lasexta.com/clipping/cmsimages02/2022/05/17/B2803297-FF70-4425-A1C0-059900EDFAB8/gatos_104.jpg?crop=4000,4000,x710,y0&width=1200&height=1200&optimize=low&format=webply") no-repeat center center fixed;
        color: white;
    }
    .carousel-inner{
        padding: 20px;
    }
    .cuerposobre{
        background-image: url("https://images.unsplash.com/photo-1601758175576-648226072e90?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDExM3x8Y2F0LURvZ3xlbnwwfHx8fDE2NzQ0Nzk4NDc&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: none;
    }
    .background{
        font-size: x-large;
        border-radius: 10%;
    }
}